fastapi
uvicorn
motor
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart
jinja2
itsdangerous
pydantic
starlette
email-validator
httpx
typing-extensions
fastapi-cli
ujson
annotated-types
python-dotenv


